/**************************************************
********           MrSolidy STYLE          ********                             
---------------------------------------------------
********  Coding@scom ft-003   app.Vr1     ********                              
---------------------------------------------------                                                 
********  https://MrSolidy.netlfy.com/     ********                   
/**************************************************
*/*{
    list-style: none;
    text-decoration: none;
}
body{
    height: 130vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------------
|           navbar style          |
-----------------------------------
*/.navbar{
    height: 10vh;
    padding: 0 15px;
    border: none;
    align-items: center;
    transition: heiht,background-color  .43s linear;
    border-bottom: 1px solid #ff5614;
    box-shadow: 0 0 12px #00012c27;
}

.brand img{
    height: 45px;
    width: 45px;
    transition: none;
    border: 1px solid transparent;
    box-shadow: 0 0 15px #01025027;
}
.brand h6{
    color: #00007c;
    margin: 0 7px;
    font-size: 20px;
}
.nav{
    display: flex;
    position: relative;
}
.nav li{
    cursor: pointer;
    margin: 0 12px;
    border-radius: 8px;
    align-items: center;
    padding: 3px 8px 6px 8px;
    line-height: 17px;
}
.nav li a{
    color: #00007c;
    text-decoration: none;
    transition: color .35s;
}
.nav li a:hover,.navbar-shrink nav li a:hover,.mobile-menu:hover{
    color: #ff9f79;
}
.active{
    background: transparent;
    box-shadow: 0 0 12px #00012c27;
}
.mobile-menu{
    display: none;
    color: #00007c;
    right: 10px;
    position: absolute;
    font-size: 24px;
    padding: 0 6px;
    cursor: pointer;
    border-radius: 6px;
    transition:  color .32s;
    box-shadow:   0 0 12px #00012c27;
}
/* navbar shriking effects */
.navbar-shrink{
    height: 7vh;
    padding: 5px 15px;
    width: 100%;
    line-height: 100%;
    align-items: center;
    color: #00007c;
    background: #ff5614;
    box-shadow: 0 0 10px #01025027;
}
.navbar-shrink .navbar{
    padding: 0;
    align-items: center;
}
.navbar-shrink .brand img{
    height: 35px;
    width: 35px;
    box-shadow: 0 0 12px #00012c27;
}
.navbar-shrink .brand h6{
    font-size: 16px;
}
.navbar-shrink .brand  strong,.nav li a:active,
.mobile-menu:active,.navbar-shrink .nav li a:active{
    color: #ff5614;
}
.navbar-shrink .nav li a{
    font-size: 14px;
    color: #fff;
    transition: color .45s ease;
}
.navbar-shrink .nav li a:hover{
    color: #00007c;
}
.navbar-shrink .theme-btn{
    padding: 4px 13px;
}
.navbar-shrink .theme-btn:hover{
    color: #fff;
}
.navbar-shrink .mobile-menu{
    color: #fff;
    padding: 2px 5px;
    font-size: 22px;
}
/* dark/light theme button*/
.theme-btn{
    margin: 0;
    border: none;
    padding: 0 14px;
    border-radius: 13px;
    color: #00007c;
    font-size: 19px;
    background: transparent;
    transition: color all .55s ease;
    box-shadow: 0 0 5px #01025027;
}
.theme-btn:hover{
    color:  #ff9f79;
}
.theme-btn:active{
    color: #fff;
    background: #ff5614;
}
/* dark theme */
.dark{
    color: #fff;
    background: #00000c;
}
#dark-mode,.dark #light-mode{
    display: none;
}

.dark #dark-mode{
    display: block; 
}
.dark .brand h6,.dark .nav li a,.dark .theme-btn,.dark .mobile-menu{
    color: #fff;
}
.dark .theme-btn,.dark .navbar-shrink,.dark .brand img{
    box-shadow: 0 0 12px #3cffef3a;
}
.dark .navbar-shrink .brand h6{
    color: #00007c;
}
.dark .navbar-shrink .theme-btn,.dark .navbar-shrink .brand img{
    box-shadow: 0 0 12px #00012c27;
}
/*----------  responsive navbar style ------------*/
@media (max-width: 850px){
    .navbar{
        padding: 0 6px;
        width: 100;
        margin: 0;
    }
    .nav{
        top: 64px;
        width: 50%;
        height: 42vh;
        padding: 0 2px 0 2px;
        position: absolute;
        flex-direction: column;
        background: #ff5614;
        right: -1000px;
        transition: right .45s ease;
        border-radius: 3px;
        box-shadow: 0 0 12px #01025027;
    }
    .nav li{
        margin: 0 0 5px 0;
        width: 100%;
        text-align: center;
    }
    .nav li a,.theme-btn{
        color: #fff;
    }
    .nav li a:hover{
        color: #00007c;
    }
    .mobile-menu{
        display: block;
    }
    .theme-btn{
        position: absolute;
        right: 20%;
        top: 286px;
        padding: 0 10px;
        font-size: 15px;
        transition: none;
        transform: none;
    }
    .navbar-shrink .navbar{
        font-size: 16px;
        padding: 3px 10px;
        align-items: center;
    }
    .navbar-shrink .theme-btn{
        position: fixed;
        padding: 3px 10px;
    }
    .navbar-shrink .nav{
        top: 45px;  
    }
    .shonav{
        right: 0;
    }
    .visible{
        display: block;
        transition: .46s ease;
        transition-delay: .40s;
    }
} 